---
import linksINFO from '@components/links.js'

export function getStaticPaths() {

    return [
        { params: { link: 'linkedin' } },
        { params: { link: 'instagram' } },
        { params: { link: 'podcast' } },
        { params: { link: 'twitter' } },
        { params: { link: 'youtube' } },
        { params: { link: 'spotify' } },
        { params: { link: 'twitch' } },

    ];

}
const params = Astro.params
---

<script is:inline>
    const links = {
        youtube: 'https://www.youtube.com/channel/UCB59FB3tbDi4A4tSunooVoA',
        instagram: 'https://www.instagram.com/_lunago28',
        twitter: 'https://twitter.com/lunago28',
        github: 'https://github.com/NicolasArevalo',
        linkedin: 'https://www.linkedin.com/in/nicolás-arévalo-842839188/',
        anchor: 'https://anchor.fm/nicols-arvalo',
        twitch: 'https://twitch.com/Nicolas_ArGoz',
    }
    const ubi = window.location.href.split('/')[3]
    let position 
    console.log(Object.keys(links).filter( (link, i) => {
        position = i
        return link === ubi
    }))
    //window.location.href = links.

</script>

<h1>Redireccionando...</h1>
<span>Si el redireccionamiento no funcionó, regresa al <a href="https://niiico.com">inicio</a></span>

<style>
    :root {
        font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    body {
        margin: 0;
        display: flex;
        place-items: center;
        min-width: 320px;
        min-height: 100vh;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    @media (prefers-color-scheme: light) {
        :root {
            color: #213547;
            background-color: #ffffff;
        }

        a:hover {
            color: #747bff;
        }

        button {
            background-color: #f9f9f9;
        }
    }
</style>