---
import LayoutLink from '@layouts/LayoutLink.astro'
import Ig from '@components/Logos/Instagram.astro'

import links from '@components/links'
---

<LayoutLink title='Instagram de Nico' nombre='Instagram' link={links.instagram}>
	<div>
        <Ig />
    </div>
</LayoutLink>

<style>
    div{
        display: inline-block;
        transform: scale(2);
    }
</style>