---
import Basic from '@layouts/Basic.astro'
---

<Basic title='5MENTARIOS Podcast' description="5MENTARIOS podcast es algo que decidí crear para motivarme a leer, al principio eran libros colombianos, pero la verdad es que hay muchos más que quería leer, así que decidí leerlos jajaja." >
    <h1>5MENTARIOS podcast</h1>
    <p>Aquí encontrarás tooodo lo que hago relacionado con la voz, porque me gusta cantar, como ya dije: </p>
    <p>Tengo un podcast donde leo libros...</p>
    
    <p>Me gusta hacer doblaje</p>
</Basic>