---
import Basic from '@layouts/Basic.astro'
---

<Basic title='Portafolio' description="En esta sección presento mis trabajos profesionales" >
    <h1>Portafolio profesional, bro</h1>
    <p>xdxdxd xdxd</p>
</Basic>