---
import Basic from '@layouts/Basic.astro'
import links from '@components/links'
---

<Basic title='Voz' description="En esta sección presento las cosas que hago con mi voz: publicidad, canciones y eso.">
    <h1>Voz</h1>
    <p>Aquí encontrarás tooodo lo que hago relacionado con la voz, porque me gusta <b>cantar</b>, como ya dije, y
        normalmente lo subo a <a href={links.youtube}>Youtube</a>: </p>
    <div class="contenedor">
        <iframe class="muestra yt" src="https://www.youtube.com/embed/ufnH9CAGcQs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="muestra yt" src="https://www.youtube.com/embed/5dIdrIlfkYk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <p>La parte <b>publicitaria</b> creo que me sale bien a pesar de no saber mucho, ese va en <a
            href={links.voice}>Voice 123</a>...</p>
    <div class="contenedor">
        <iframe class="voice123 muestra" src="https://voice123.com/embed/embed.html?id=ZAHSAAXI"></iframe>
        <iframe class="voice123 muestra" src="https://voice123.com/embed/embed.html?id=ZAPPOOAA"></iframe>
    </div>
    <p>Tengo un <b>podcast</b> donde leo libros...</p>
    <div class="contenedor podcast">
        <small for="iframe">Capitulo con +500 reproducciones</small>
        <iframe
        src="https://anchor.fm/nicols-arvalo/embed/episodes/El-coronel-no-tiene-quien-le-escriba-PARTE-I---Gabriel-Garca-Mrquez-e16gk4t"
        class="muestra" frameborder="0" scrolling="no" id="iframe"></iframe>
    </div>
    


    <p>Me gusta hacer <b>doblaje</b> también...</p>
    <div class="contenedor">
        <iframe class="muestra yt" src="https://www.youtube.com/embed/SMMAwjtw_lU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="muestra yt" src="https://www.youtube.com/embed/NfGxiv_oV84" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</Basic>

<style>
    :root {
        --ancho-muestras: 450px;
    }

    .contenedor {
        display: flex;
    }

    .vermas {
        width: 100%;
        text-align: center;
        padding-inline-start: 40px;
    }

    p {
        margin-top: 1rem;
    }
    .podcast{
        flex-flow: column wrap;
        
    }
    .podcast small{
        color: var(--color-gray-400)
    }
    .muestra {
        margin: 1rem 0;
        padding-inline-start: 40px;
        width: var(--ancho-muestras);
    }
    .yt{
        aspect-ratio: 16/9;
    }
    .voice123 {
        border: none;
        height: 90px;
        overflow: hidden;   
    }

    @media (max-width: 760px) {
        :root {
            --ancho-muestras: 100%;
        }

        .contenedor {
            flex-flow: column wrap;
        }

        .muestra {
            padding-inline-start: 0px;
        }
    }
</style>