---
import Basic from '@layouts/Basic.astro'
---

<Basic title='Voz' description="En esta sección presento las cosas que hago con mi voz: publicidad, canciones y eso." >
    <h1>Voice my bro</h1>
    <p>cantosss xdxd</p>
</Basic>