---
import PostCard from '@components/PostCard.astro'
let allPosts = await Astro.glob('../pages/blog/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
let latestPosts = allPosts.slice(0, 3);
---
<section>
    <h4>Publicaciones recientes...</h4>
    <div class="MiniblogPrev">
    
        <div class="selection">
            {latestPosts.map( (p) =>
            <PostCard post={p} />)}
        </div>
    </div>
</section>


<style>
    .MiniblogPrev {
        display: flex;
        flex-flow: column wrap;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 2em 0;
    }

    .selection {
        display: flex;
        justify-content: space-between;
        gap: .8em;
    }

    @media (max-width: 760px) {
        .selection {
            display: flex;
            justify-content: space-between;
        }

        .MiniblogPrev {
            display: flex;
            flex-flow: column wrap;
            max-width: 300px;
        }
    }
</style>