---
import PostCard from '@components/PostCard.astro'
let allPosts = await Astro.glob('../pages/blog/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
let latestPosts = allPosts.slice(0, 3);
---

<section>
    <h4>Publicaciones recientes...</h4>
    <div class="MiniblogPrev">

        <div class="selection">
            {latestPosts.map( (p) =>
            <PostCard post={p} />)}
        </div>
    </div>
</section>


<style>
    section {
        margin: 2em 0;
    }

    .MiniblogPrev {
        display: flex;
        flex-flow: column wrap;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .MiniblogPrev::-webkit-scrollbar {
        height: 10px;
    }

    .MiniblogPrev::-webkit-scrollbar-thumb {
        background: rgba(var(--color-purple-rgb), .5);
        border-radius: 6px;
    }

    .selection {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    @media (max-width: 760px) {
        .selection {
            display: flex;
            justify-content: space-between;
        }

        .MiniblogPrev {
            display: flex;
            flex-flow: column wrap;
        }
    }
</style>