---
export interface Props {
	post: any
}

const { post } = Astro.props
---

<a href={post.url}>
	<article class='card'>
		<p class='publish-date'>{post.frontmatter.publishDate}</p>
		<h3 class='card__title'>{post.frontmatter.title}</h3>
	</article>
</a>

<style>
	a {
		width: 100%;
		margin-left: 10px;
	}
	.card {
		width: auto;
		box-shadow: var(--shadow-buena);
		margin: 20px 0;

		height: 120px;

		padding: 1.5rem 1rem 0.5rem 1rem;
		width: 100%;
		background: var(--color-gray-50);

		border: 2px solid transparent;
		background: linear-gradient(white, white) padding-box,
              linear-gradient(to bottom right, rgba(var(--color-purple-rgb), .6), rgba(var(--color-purple-rgb), .2)) border-box;
		border-radius: var(--br);
		transition: box-shadow var(--transition-time) ease;
	}
	.card:hover {
		box-shadow: var(--shadow-buena-hovered);
	}
	.card p {
		font-size: medium;
	}
	.card h3 {
		margin: 0 0 0.7rem 0;
		font-size: x-large;
		font-weight: 600;
	}

	@media (max-width: 760px) {
		a {
			margin-left: 0;
		}
		.card {
			margin: 0;
		}
	}
</style>
