<section class="slider" client:visible >
    <slot />
</section>

<style>
    section {
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        overflow-y: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    section::-webkit-scrollbar {
        height: 10px;
    }

    section::-webkit-scrollbar-thumb {
        background: rgba(var(--color-purple-rgb), .5);
        border-radius: 6px;
    }

</style>