---
import BaseHead from '@components/BaseHead.astro'
import NavBar from '@components/NavBar.astro'
import Footer from '@components/Footer.astro'

export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<html lang={'es'}>
	<head>
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css'
		/>
		<BaseHead title={title}  description={description} />
		<style>
			header {
				width: 100%;
				height: 100%;
				background-color: var(--theme-bg-offset);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			main {
				margin-top: 1rem;
			}
		</style>
	</head>

	<body>
		<NavBar />
		<main class='wrapper'>
			<slot />
		</main>
		<Footer />
		<!-- Google tag (gtag.js) -->
		<script async src='https://www.googletagmanager.com/gtag/js?id=G-8F15Z6T1M0'></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'G-8F15Z6T1M0')
		</script>
	</body>
</html>
